options {
    directory "/var/cache/bind";
    pid-file "/var/cache/bind/named.pid";
    session-keyfile "/var/cache/bind/session.key";
    dump-file "/var/cache/bind/cache_dump.db";
    statistics-file "/var/cache/bind/named_stats.txt";
    memstatistics-file "/var/cache/bind/named_mem_stats.txt";
    listen-on { any; };
    listen-on-v6 { any; };
    allow-new-zones yes;
    {{RECURSION}}
    {{ALLOW_QUERY}}
    {{ALLOW_TRANSFER}}
    {{DNSSEC_VALIDATE}}
};
